.header{
  border: 1px solid lightblue;
  display: flex;
  flex-direction: column;
}

.header .up-header{
  height: 100px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.header .down-header{
  height: 50px;
}

.header h1{
  margin: 0;
  display: inline-block;
  line-height: 140px;
}

.header-logo{
  width: 100px;
  float: left;
  margin: 0 20px;
}
