<footer cancelSelect>
  <div class='upper-footer'>
    <a pageScroll class='logo' href='#header'>
      <img class='logo-image' src='../img2/logo.png'><br/>
      {{ title }}

    </a>
  </div>

  <div class='menu-footer'>
    <nav>
      <a pageScroll href="#header">главная</a>
      <a pageScroll href="#creator">собрать</a>
      <a pageScroll href="#list">выбрать</a>
      <a pageScroll href="#order">оформить</a>
    </nav>
  </div>

  <div class='lower-footer'>
    <span>карта сайта</span>

    <share-container
      direction="horizontal"
      [expandable]='false'
      [properties]="{title:'Пицца моей мечты', description:'Самая лучшая пицца в городе с заказом онлайн', img:'../img/logo.png', via:'Angular2', hashtags:'dreampizza'}"
      [platforms]="['twitter','facebook','pinterest','googlePlus']">
    </share-container>

    <div class='copyright'>
      <span>© 2010-2017 Проект "Angular пицца"</span>
      <span>Разработано: Демиденко Денис</span>
    </div>
  </div>
</footer>
