<div class="list-item"
    (mouseover)='openOnOver($event)'
    (mouseout)='openOnOut($event)'
    [class.open]='limpid === 1'
    [class.limpid]='limpid === 0'
    (click)='onMakeOrder(item, $event)'>

  <div class='hidden-list-item'></div>

  <p class="title">{{ item.name }}</p>

  <div class="img-wrapper">
    <img src="{{ item.url }}" alt="">
  </div>

  <div class="description-wrapper">
    <p class="description">{{ item.description }}</p>
  </div>

  <div class="weight-price-wrapper">
    <button class="order-button"
           (click)='onMakeOrder(item, $event)'>
      <i class="material-icons">{{ item.id===0 ? 'keyboard_arrow_down' : 'add_circle' }}</i>
    </button>
    <span class='price'>{{ _currentPrice }} грн</span>
    <span class='weight'>{{ _currentWeight }}гр</span>
  </div>

  <div class="size-outer-wrapper">
    <div class="size-move-wrapper">
      <app-itemsize (sizeCheckedEvent)='onSizeChecked($event)'></app-itemsize>
    </div>
  </div>

</div>
