<div class="list-item">
  <img src="{{ item.url }}" alt="">

  <div class='full-list-item'>
    <img src="{{ item.url }}" alt="" />
    <hr noshape />
    <p class="title">{{ item.name }}</p>
    <p class="des">{{ item.description }}</p>

    <div class="count-wrapper">
      <app-itemsize
        *ngFor='let sizeItem of sizes, let indexSizeItem = index'
        [indexFromList]='indexSizeItem'
        [sizeItem]='sizeItem'
        [idPizza]='item.id'
        (sizeChecked)='onSizeChecked($event)'
      >
    </app-itemsize>
    </div>

    <p class="weight-price">
      <span>{{ _currentWeight }} г /</span>
      {{ _currentPrice }} <span>грн</span>
    </p>

    <button class="order-button" (click)='onMakeOrder(item)'>Заказать</button>
  </div>
</div>
