<div id='order' cancelSelect>
  <form class='order-form'>

    <app-fio [(initValue)]='_initFio'></app-fio>

    <app-address [(initValue)]='_initAddress'></app-address>

    <app-phone [(initValue)]='_initPhone'></app-phone>

    <app-amount [(initValue)]='_initAmount'></app-amount>

    <div class='button-wrapper'>
      <button class='active' (click)='clearAllFields($event)'>Очистить</button>
      <button [class.active]='_isFormValid' [disabled]='!_isFormValid' (click)='makeOrder($event)'>Заказать</button>
    </div>

  </form>
</div>
