#order{
  font-family: Arial;
  position: relative;
  height: 600px;
  padding-top: 100px;
  overflow: hidden;
  background: url(../img2/background-order.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

#order *:focus{
  outline: none;
}

.order-form{
  position: relative;
  display: block;
  box-shadow: 1px 1px 0 rgba(143, 121, 23, .1),
              2px 2px 0 rgba(143, 121, 23, .1),
              3px 3px 0 rgba(143, 121, 23, .1),
              4px 4px 0 rgba(143, 121, 23, .1),
              rgba(255, 255, 255, .3) -1px -1px 0,
              rgba(255, 255, 255, .3) -2px -2px 0,
              rgba(255, 255, 255, .3) -3px -3px 0,
              rgba(255, 255, 255, .3) -4px -4px 0;
  margin: 0 auto;
  padding: 50px 70px;
  background: rgba(255, 255, 255, .6);
  width: 500px;
  height: 400px;
}

button{
  display: inline-block;
  background: rgba(34, 85, 86, 1);
  height: 40px;
  width: 40%;
  text-shadow: 0px 3px 0px rgba(19, 61, 62, 1);
  text-transform: uppercase;
  font-size: 20px;
  color: #346a6b;
  font-weight: bolder;
}

button.active{
  color: #63d7d8;
  cursor: pointer;
}

.button-wrapper{
  width: 100%;
  display: block;
  justify-content: space-between;
}

.submit-button{
  float: right;
}
