<div id='order'>
  <form action="">

    <div class='input-wrapper'>
      <input type="text" id='order-fio'>
      <label class='clear' for="order-fio">ФИО</label>
    </div>

    <div class='input-wrapper'>
      <input type="text" id='order-adr'>
      <label class='clear' for="order-adr">Адрес</label>
    </div>

    <div class='input-wrapper'>
      <input type="text" id='order-tel'>
      <label class='fill' for="order-tel">Телефон</label>
    </div>

    <div class='input-wrapper'>
      <input type="text" id='order-promo'>
      <label class='fill' for="order-promo">Промо-код</label>
    </div>

    <button>Заказать</button>
    <button>Очистить</button>

  </form>
</div>
