#menu{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: lightblue;
  height: 100%;
  padding: 0 15%;
}

.menu-item{
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background-color: lightblue;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
  font-size: 1.2em;
}

.menu-item:hover{
  background: #80cce5;
}

.basket-item{
  position: relative;
  padding: 0 10px;
  margin-left: auto;
}

.basket-item .basket-icon{
  font-size: 2em;
  line-height: 50px;
}

.basket-item .basket-amount{
  display: none;
}

.basket-item .basket-amount.ordered{
  position: absolute;
  display: block;
  top: 2px;
  right: 0px;
  color: white;
  background-color: red;
  border-radius: 9px;
  text-align: center;
  font-size: 12px;

  width: 20px;
  height: 20px;
  background: red;
  border-radius: 10px;
  line-height: 20px;
  z-index: 11;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: .2px;
  font-weight: 900;
}
