#menu{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-basis: 100%;
  -js-display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: lightblue;
  height: 100%;
  padding: 0 15%;
}

.menu-item{
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background-color: lightblue;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
  font-size: 1.2em;
  cursor: pointer;
}

.menu-item:focus{
  background: #80cce5;
}

.menu-item:hover{
  background: #80cce5;
}
