.order-item{
  display: flex;
  margin: 5px 20px;
}

.hidden{
  display: none;
}

hr{
  color: lightgrey;
  margin: 0 20px;
}

.order-item > *{
  padding: 0 5px;
  line-height: 30px;
}

.order-item > *:not(:last-child){
  font-family: Arial;
}

.order-item img{
  height: 30px;
}

.correcting-order-pizza-price input{
  width: 50px;
}

.full-description{
  color: grey;
  margin: 0 20px 10px 20px;
}

.order-item .order-pizza-price{
  margin-left: auto;
  color: black;
  font-size: 20px;
}

.order-item .delete-pizza-order{
  display: block;
  visibility: hidden;
  width: 25px;
  cursor: pointer;
  overflow: hidden;
}

.order-item:hover .delete-pizza-order{
  visibility: visible;
}

.order-item .delete-pizza-order:hover{
  color: red;
}

.order-item .order-pizza-name{
  width: 15%;
  color: #642828;
  font-weight: bold;
}

.order-pizza-size{
  margin-right: auto;
  color: #642828;
}

.order-pizza-date{
  font-size: 12px;
}
