#basket{
  position: fixed;
  background: rgba(255, 255, 255, .8);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.order-list{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 80%;
  margin: auto;
  border: 2px solid blue;
  background: lightblue;
  list-style: none;
  padding: 0;
}

.basket-title{
  text-align: center;
}

.order-item{
  height: 30px;
  font-family: Arial;
  font-size: 16px;
  padding-left: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 30px;
  cursor: pointer;
}

.order-item img{
  height: 100%;
  width: auto;
  float: left;
  display: inline-block;
  margin-right: 10px;
}

.order-item:nth-child(2n){
  background: #a1d4e5;
}

.order-item:first-child{
  margin-top: 20px;
}

.order-item span{
  color: grey;
}

.order-item:hover span{
  color: black;
}

.order-pizza-date{
  color: grey;
  margin: 0 20px;
  font-size: 0.7em;
}

.delete-pizza-order{
  float: right;
  display: block;
  cursor: pointer;
  width: 15px !important;
  line-height: 30px;
  visibility: hidden;
}

.order-item:hover .delete-pizza-order{
  visibility: visible;
  color: red;
  margin-right: 20px;
}

.order-list button{
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  border: 2px solid blue;
  background-repeat: lightblue;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
}

.order-list button:first-child{
  margin-left: 50px;
}

.order-list button:last-child{
  float: right;
  margin-right: 20px;
  background: red;
}
