<div id='basket' (click)='onHideBasket($event, false)' >
  <ul class='order-list'>
    <h2 class='basket-title'>Корзина</h2>
    <li class='order-item' *ngFor='let item of fullOrderList'>
      <img src='{{item.url}}' alt="">
      <span class='order-pizza-name'>{{ item.name }}</span>
      <span class='order-pizza-size'>({{ item.size }} см)</span>
      <span class='order-pizza-date'>заказ сделан: {{ item.date }}</span>
      <span class='delete-pizza-order material-icons'>delete_empty</span>
    </li>
    <button class='make-order'>Оформить заказ</button>
    <button class='discart-order'>Сбросить</button>
    <button class='close-basket' (click)='onHideBasket($event, true)'>Закрыть</button>
  </ul>

</div>
