<div id='basket-icon' [class.added]='basketCounter' [class.show]="message.length>0" (click)='toggleBasket()'>
  <i class="material-icons basket-icon">shopping_basket</i>
  <span class='basket-amount' [class.ordered]='basketCounter>0'>{{ basketCounter }}</span>
  <span class='message-added'>{{ message }}</span>
</div>

<div id='basket' (click)='hideBasket($event)' [class.open]='isOpened'>

  <div class='basket-wrapper'>

    <ul class='order-list'>
      <app-basketitem *ngFor='let item of fullOrderList' [item]='item' (deleteItemEvent)='onDeleteBasketItem()'></app-basketitem>
    </ul>

    <div class='control-wrapper'>
      <button class='make-order' (click)='moveToOrder($event)'>Оформить заказ</button>
      <button class='close-basket'><i class="material-icons close-icon circle-button" (click)='hideBasket($event)'>close</i></button>
      <button class='discart-order circle-button' (click)='onClearBasket()'><i class="material-icons circle-button delete-icon">delete</i></button>
    </div>

    <span class="basket-sum">{{ basketSum }} грн</span>

  </div>
</div>
