#basket{
  position: fixed;
  background: rgba(255, 255, 255, .8);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.basket-icon{
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.basket-wrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 80%;
  margin: auto;
  border: 2px solid blue;
  background: lightblue;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 19px -2px rgba(0,0,0,0.53);
  -moz-box-shadow: 4px 4px 19px -2px rgba(0,0,0,0.53);
  box-shadow: 4px 4px 19px -2px rgba(0,0,0,0.53);
}

.order-list{
  position: absolute;
  top: 30px;
  bottom: 50px;
  left: 0;
  right: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
}

.basket-title{
  text-align: center;
}

.control-wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px 20px 20px;
}

.control-wrapper button{
  display: inline-block;
  border: 2px solid blue;
  background-repeat: lightblue;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
}

.control-wrapper button:last-child{
  float: right;
  background: red;
}
